.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.products li {
  padding: 10;
  border-bottom: 2 solid  #9c1010 ; 
  align-items: center;
  justify-content: center;

}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-name {  
  font-weight: bold;
}
.product-brand {
  color: #808080;
}
.product-price {
  font-weight: bold;
}
.product-image {
   width: 50%;
   height: 50%;   
   justify-content: center;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
